// app global css in SCSS form


.form-submit{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:16px;
  max-width:660px;
  width:100%;
  margin:0 auto;
}

.input-form{
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap:16px;
  width:100%;

}

.q-field__control,.q-field__control-container {
  color: var(--q-primary);

  max-width: 100%;
  outline: none;
}

.input-label{
  font-size:16px;

}

.button-submit{
  height:50px;
  margin-top:16px;
}


@media (max-width:600px){
  .form-submit{
    padding:24px;
  }
}
